body {
  width: 100%;
  text-align: center;
    align-items: center;
}

.search {
  margin: 1rem;
}

#sök {
  width: 35ch;
  height: 20px;
  border-radius: 5px;
}

#table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courseRow {
  display: grid;
  grid-template-columns: 2fr 8fr 1fr;
  
  width: 50%;
}

.courseCode {
  text-align: left;
}
.courseName {
  text-align: left;
}

.sorting {
  display: grid;
  text-align: left;
  grid-template-columns: 2fr 8fr 1fr;
  width: 50%;
}

.sortName {
  text-decoration: underline;
  cursor: pointer;
}

.sortCode {
  text-decoration: underline;
  cursor: pointer;
}

.sortProg {
  text-decoration: underline;
  cursor: pointer;
}